<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEewqRojP5csyHgIKjb0BCkuHxsc8XbbM</string>
	<key>GCM_SENDER_ID</key>
	<string>874739674978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logisticManagement</string>
	<key>PROJECT_ID</key>
	<string>aiproject-453501</string>
	<key>STORAGE_BUCKET</key>
	<string>aiproject-453501.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874739674978:ios:c630d65f9a9060d40d463b</string>
	<key>DATABASE_URL</key>
	<string>https://aiproject-453501-default-rtdb.firebaseio.com</string>
</dict>
</plist>